.popup {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  width: 100%;
  max-width: 640px;
  /* background-color: #fff; */
}

.popup-inner .close-btn {
  width: 40px;
  height: 40px;
  background: url("/public/img/close.jpg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  z-index: 10;
}

.row-1 {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.row-2 {
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  align-items: initial;
}

.mini-img {
  width: 50%;
  border: solid 2px #f7f7f7;
  border-radius: 10%;
}
.main-info div * {
  padding: 5px;
}
.main-info div p {
  padding-bottom: 20px;
}
.mini-line {
  height: 1px;
  border: 0;
  background: #f7f7f7;
}
.flex-right {
  justify-content: flex-end;
}
.flex-right button.def {
  width: 2.5rem;
  height: 2.5;
  font-size: 2em;
  font-weight: 600;
}
.flex-right .quantity {
  font-size: 1.25rem;
}
.pd-1 {
  padding: 10px;
}
